<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap-4.1.3-dist/css/bootstrap.min.css"
          th:href="@{/css/bootstrap-4.1.3-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../css/common.css" th:href="@{/css/common.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="container" ng-app="booksModule" ng-controller="BooksController">
    <div>
        <a th:href="${createBook}">Creation</a>
        <a href="#" th:href="${booksReport}">Report</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Work</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td>
                    <a href="{{book._links.adm}}">{{book.id}}</a>
                </td>
                <td>
                    <a href="{{getWork(book.workId)._links.adm}}" class="a-none">
                        {{getWork(book.workId).title}}
                    </a>
                </td>
                <td>
                    <a href="{{getPublisher(book.publisherId)._links.adm}}" class="a-none">
                        {{getPublisher(book.publisherId).name}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
</body>
<script src="../../js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/common.js}" src="../../js/common.js"></script>
<script th:src="@{/js/util.js}" src="../../js/util.js"></script>
<script src="../../js/book/books.js" th:src="@{/js/book/books.js}"></script>
</html>