body {
    background-color: rgb(252, 252, 252);
}

main {
    margin-top: 15px;
}

.remove-association-control, .remove-association-control-header{
    max-width: 20px;
    text-align: center;
}

.remove-association-control:hover {
    cursor: pointer;
}

.for-removal {
    color: #ff554e;
}

.for-adding {
    color: #44ff6c;
}

.entity-form {
    margin: 10px auto;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1px;
}

.medium-size-form {
    max-width: 640px;
}

.large-size-form {
    max-width: 1200px;
}

.entity-attribute {
    max-width: 480px;
    margin: 10px auto;
}

.entity-attribute-name {
    font-size: 18px;
    text-align: center;
}

.entity-attribute-additional {
    color: rgb(100, 100, 100);
}

.submit-btn {
    display: inline-block;
    padding: 5px;
    min-width: 110px;
    margin: 5px auto;
}

.entity-form-section {
    padding: 5px 10px;
}

.medium-size-attribute {
    max-width: 640px;
}

.submit-buttons {
    text-align: center;
}

.entity-form-header {
    background-color: rgb(246, 246, 246);
    text-align: center;
    font-size: 1.5em;
}

.hidden {
    display: none;
}

.caret-wrapper {
    display: inline;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.caret {
    height: 24px;
    width: 24px;
}

.associations-header {
    text-align: center;
    font-size: 22px;
}

.associations {
    padding: 5px;
}

ul.horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.horizontal > li {
    display: inline;
}

ul.navigation-bar {
    min-height: 50px;
    padding: 5px;
    background-color: rgb(254, 254, 254);
    border-bottom: 2px solid rgb(230, 230, 230);
}

.navigation-bar-item {
    padding: 5px;
    min-height: 40px;
    font-size: 25px;
    line-height: 40px;
}

.navigation-bar-reference {
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.navigation-bar-reference:hover {
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.association-label-wrapper {
    display: inline-block;
    margin: 3px 3px 3px 0;
}

.association-labels {
    line-height: 15px;
    padding: 3px 3px 3px 0;
    margin: 10px 0;
}

.association-label {
    display: grid;
    grid-template-columns: auto 18px;
    font-size: 18px;
    max-width: 150px;
    color: rgb(255, 255, 255);
    background-color: #1baec6;
    border-radius: 3px;
}

.label-value {
    padding: 3px;
    line-height: 18px;
    word-break: break-word;
}


.label-remove {
    width: 18px;
    height: 18px;
    cursor: pointer;
    line-height: 18px;
}

.label-remove-icon {
    width: 100%;
    height: 100%;
}

.a-none {
    text-decoration: none;
    color: inherit;
}

.a-none:hover {
    text-decoration: none;
}