<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:fragment="defaultHeader">
    <ul class="horizontal navigation-bar">
        <li class="navigation-bar-item">
            <a href="#" th:href="${authorsHref}" class="navigation-bar-reference">
                Authors
            </a>
        </li>
        <li class="navigation-bar-item">
            <a href="#" th:href="${worksHref}" class="navigation-bar-reference">
                Works
            </a>
        </li>
        <li class="navigation-bar-item">
            <a href="#" th:href="${booksHref}" class="navigation-bar-reference">
                Books
            </a>
        </li>
        <li class="navigation-bar-item">
            <a href="#" th:href="${publishersHref}" class="navigation-bar-reference">
                Publishers
            </a>
        </li>
        <li class="navigation-bar-item">
            <a href="#" th:href="${queryHref}" class="navigation-bar-reference">
                Do Sql
            </a>
        </li>
        <li class="navigation-bar-item">
            <a href="#" th:href="${subjectStatistics}" class="navigation-bar-reference">
                Subject Statistics
            </a>
        </li>
    </ul>
</header>
</body>
</html>